<footer class="footer mt-auto py-3 bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="fixed-bottom text-center p-3" style="background-color: gray;">
        Scandiweb Test Assignment
    </div>
</footer>